<h1>Edit This Trip:</h1>
<%= form_tag "/trips/#{@trip.id}", method: :patch do %>
  <p>
  Traveling For:
    <select name="trip_type">
      <option value="Business">Business</option>
      <option value="Pleasure">Pleasure</option>
    </select>
  </p>

  <p>
    Destination(city, state, country):
    <input type="text" name="destination" value="<%= @trip.destination %>">
  </p>

  <p>
    Begin Date:
    <input type="date" name="begin_date" value="<%= @trip.begin_date %>">
  </p>

  <p>
    End Date:
    <input type="date" name="end_date" value="<%= @trip.end_date %>">
  </p>

  <p>
    Budget: $
    <input type="text" name="budget" value="<%= @trip.budget %>">
  </p>

  <p>
    Describe why you are taking this trip and what you are looking for in a travel buddy:<br>
    <textarea name="description"><%= @trip.description %></textarea>
  </p>

  <p>
    Create a wish list for this trip(things you really want to see and do):<br>
    <textarea name="wish_list"><%= @trip.wish_list %> </textarea>
  </p>

  <input type="submit" value="Edit Trip">
<% end %>