<section id="tsp_login_page" class="tsp-page-tpl">
  <div class="container">
    <div class="row">
        <div class="tsp-box-content tsp-page-acc">
          <div class="tsp-form-login col-md-6 col-sm-6 col-xs-6 tsp-full-xs tsp-no-padding-left">
              <div class="col-lg-offset-1 col-md-offset-1">
                <h1>Edit This Trip:</h1>
                <%= form_tag "/trips/#{@trip.id}", method: :patch, class: "tsp-form-site" do %>
                  <div class="form-group">
                    <b>Traveling For:</b>
                    <select name="trip_type">
                      <option value="<%= @trip.trip_type %>" selected><%= @trip.trip_type %></option>
                      <% if @trip.trip_type == "Pleasure" %>
                        <option value="Business">Business</option>
                      <% else %>
                        <option value="Pleasure">Pleasure</option>
                      <% end %>
                    </select>
                  </div>
                  <div class="form-group">
                    <input type="text" name="destination" value="<%= @trip.destination.titleize %>" placeholder="Destination(city, state, country, region, etc.)">
                  </div>
                  <div class="form-group">
                    <b>Date Type:</b>
                    <select name="date_type">
                      <option value="Approximate Range">Approximate Range</option>
                      <option value="Exact">Exact</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <input type="text" onfocus="(this.type='date')" onblur="if(this.value==''){this.type='text'}" name="begin_date" value="<%= @trip.begin_date %>" placeholder="Begin Date">
                  </div>
                  <div class="form-group">
                    <input type="text" onfocus="(this.type='date')" onblur="if(this.value==''){this.type='text'}"  name="end_date" value="<%= @trip.end_date %>" placeholder="End date">
                  </div>
                  <div class="form-group">
                    <textarea name="budget" placeholder="Budget details (ex. $total, $hotel/day, $meal/day, etc.)"><%= @trip.budget %></textarea>
                  </div>
                  <div class="form-group">
                    <textarea name="description" placeholder="Describe in general why you want to take this trip"><%= @trip.description %></textarea>
                  </div>
                  <div class="form-group">                  
                    <textarea name="wish_list" placeholder="Create a wish list for this trip (specific things you really want to see and do)"><%= @trip.wish_list %></textarea>
                  </div>
                  <button type="submit" class="tsp-btn-site">Edit Trip</button>
                <% end %>
              </div>
          </div>
          <div class="col-md-6"><img class="trip-new" src="/assets/solo-woman-traveler.jpg">
          </div>
        </div>
    </div>
  </div>
</section>
