<h1><%= @trip.destination %></h1>
<p><b>Traveling For:</b> <%= @trip.trip_type %></p>
<p><b>Dates:</b> <%= @trip.begin_date.strftime("%B %d, %Y") %> to <%= @trip.end_date.strftime("%B %d, %Y") %></p>
<p><b>Budget:</b> $<%= @trip.budget %></p>
<p><b>Description:</b><br><%= @trip.description %></p>
<p><b>Wish List:</b><br><%= @trip.wish_list %></p>

<% if @trip.user.id == current_user.id %>
  <a href="/trips/<%= @trip.id %>/edit"><button>Edit This Trip</button></a><br><br>
  <%= button_to "Delete This Trip", "/trips/#{@trip.id}", method: :delete %>
<% end %>

