<div class="container">
  <div class="row">
    <div class="col-md-5">
      <h1><%= @trip.destination.titleize %></h1>
      <% if @trip.user.id != current_user.id %>
        <p><b>Created By:</b> <a class="link-underline" href="/profiles/<%= @trip.user.profile.id %>"><%= @trip.user.user_name %></a></p>
      <% end %>
      <p><b>Traveling For: </b><span><%= @trip.trip_type %></span></p>
      <p><b>Date Type: </b><span><%= @trip.date_type %></span></p>
      <p><b>Dates: </b><br><span> <%= @trip.begin_date.strftime("%B %d, %Y") %> to <%= @trip.end_date.strftime("%B %d, %Y") %></span></p>
      <p><b>Budget: </b><br><span> <%= @trip.budget %></span></p>
      <p><b>Description: </b><br><span> <%= @trip.description %></span></p>
      <p><b>Wish List: </b><br><span> <%= @trip.wish_list %></span></p>

      <% if @trip.user.id == current_user.id %>
        <div class="side-buttons">
          <a href="/trips/<%= @trip.id %>/edit"><button class="button tsp-btn-site">Edit This Trip</button></a><br><br>
          <%= button_to "Delete This Trip", "/trips/#{@trip.id}", method: :delete, class: "button tsp-btn-site", data: {confirm: 'Are you sure?'} %><br><br>
        </div>
      <% elsif @trip.not_favorited_by(current_user.id)  %>
        <%= button_to "Bookmark This Trip", "/favorites", params: {trip_id: @trip.id}, method: :post, class: "button tsp-btn-site" %><br>
      <% else %>
        <b style="color:rgb(255, 193, 7);">Trip Bookmarked</b>
      <% end %>
    </div>

    <div class="col-md-7">
      <h1 class="explore-center">Explore This Location:</h1>
      <iframe
        width="600"
        height="450"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=<%= ENV['GOOGLE_KEY'] %>
        &q=<%= @trip.destination %>" allowfullscreen>
      </iframe>
    </div>
  </div>
</div>