<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h1><%= @trip.destination %></h1>
      <p><b>Traveling For:</b> <%= @trip.trip_type %></p>
      <p><b>Dates:</b> <%= @trip.begin_date.strftime("%B %d, %Y") %> to <%= @trip.end_date.strftime("%B %d, %Y") %></p>
      <p><b>Budget:</b> $<%= @trip.budget %></p>
      <p><b>Description:</b> <%= @trip.description %></p>
      <p><b>Wish List:</b> <%= @trip.wish_list %></p>
      <% if @trip.user.id != current_user.id %>
        <p><b>Created By:</b> <a href="/profiles/<%= @trip.user.profile.id %>"><%= @trip.user.user_name %></p>
      <% end %>

      <% if @trip.user.id == current_user.id %>
        <a href="/trips/<%= @trip.id %>/edit"><button class="button tsp-btn-site">Edit This Trip</button></a><br><br>
        <%= button_to "Delete This Trip", "/trips/#{@trip.id}", method: :delete, class: "button tsp-btn-site" %>
      <% elsif @trip.not_favorited_by(current_user.id)  %>
        <%= button_to "Bookmark This Trip", "/favorites", params: {trip_id: @trip.id}, method: :post, class: "button tsp-btn-site" %>
      <% else %>
        <b style="color:rgb(255, 193, 7);">Trip Bookmarked</b>
      <% end %>
    </div>

    <div class="col-md-8">
      <h1>Explore This Location:</h1>
      <iframe
        width="600"
        height="450"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=<%= ENV['GOOGLE_KEY'] %>
        &q=<%= @trip.destination %>" allowfullscreen>
      </iframe>
    </div>
  </div>
</div>