<section id="tsp_login_page" class="tsp-page-tpl">
  <div class="container">
      <div class="row">
          <div class="tsp-box-content tsp-page-acc">
            <div class="tsp-form-login col-md-6 col-sm-6 col-xs-6 tsp-full-xs tsp-no-padding-left">
                <div class="col-lg-offset-1 col-md-offset-1">
                    <h2>Edit Your TravelBuddy Profile:</h2>
                    <%= form_tag "/profiles/#{@profile.id}/pic", method: :patch, multipart: true, class: "tsp-form-site" do %>
                        <label class="white-text">Change/Upload Profile Pic:
                            <input type="file" name="profile_pic" class="button tsp-btn-site file-height">
                        </label>
                        <input type="submit" class="button tsp-btn-site file-height" value="Upload Photo">
                    <% end %>
                    <%= image_tag @profile.profile_pic.url(:thumb) %>
                    <br><br>
                    <%= form_tag "/profiles/#{@profile.id}", method: :patch, class: "tsp-form-site" do %>   
                        <div class="form-group">
                            <input type="text" name="age" value="<%= @profile.age %>" placeholder="Age">
                        </div>
                        <div class="form-group">
                            <input type="text" name="location" value="<%= @profile.location %>" placeholder="Location(City, State, Country)">
                        </div>
                        <div class="form-group">
                            <textarea name="bio" placeholder="Tell other users about your travel style"><%= @profile.bio %></textarea>
                        </div>
                        <button type="submit" class="tsp-btn-site">Edit Profile</button>
                    <% end %>
                </div>
            </div>
            <div class="col-md-6"><img class="profile-new" src="/assets/succes-payment.jpg">
            </div>
          </div>
      </div>
  </div>
</section>