<h1>Edit Your TravelBuddy Profile:</h1>
<%= form_tag "/profiles/#{@profile.id}", method: :patch do %>
  <div>
    Image Url:
    <input type="text" name="image" value="<%= @profile.image %>">
  </div>
  <br>

  <div>
    Age:
    <input type="text" name="age" value="<%= @profile.age %>">
  </div>
  <br>

  <div>
    Location(City, State, Country)
    <input type="text" name="location" value="<%= @profile.location %>">
  </div>
  <br>

  <div>
    Tell other users about yourself:<br>
    <textarea name="bio"><%= @profile.bio %></textarea>
  </div>

  <input type="submit" value="Update Profile">
<% end %>