<div class="container">
  <div class="row">
    <div class="col-md-6">
      <% if @profile.user.id == current_user.id %>
        <h1>My Profile:</h1>
      <% else %>
        <h1><%= @profile.user.user_name %>'s Profile:</h1>
      <% end %>

      <%= image_tag @profile.profile_pic.url(:thumb) %>
      <p><b>Name:</b> <span><%= @profile.user.first_name %> <%= @profile.user.last_name %></span></p>
      <p><b>Age:</b> <span><%= @profile.age %></span></p>
      <p><b>Location:</b> <span><%= @profile.location %></span></p>
      <p><b>A bit about me and travel:</b><br>
        <span><%= @profile.bio %></span></p>

      <% if @profile.user.id == current_user.id %>
        <div class="side-buttons">
          <a href="/profiles/<%= @profile.id %>/edit"><button class="button tsp-btn-site">Edit Your Profile</button></a>
          <%= button_to "Delete Your Profile", "/profiles/#{@profile.id}", method: :delete, class: "button tsp-btn-site pad-right", data: {confirm: 'Are you sure?'} %>
        </div>
        <br>
      <% else %>
        <div class="side-buttons">
          <%= link_to "Message #{@profile.user.user_name}", new_message_path(user: @profile.user.id), class: "button tsp-btn-site" %>
          <% if current_user.not_friends(@profile.user.id) %>
            <%= button_to "Follow #{@profile.user.user_name}", "/friendships", params: {friend_id: @profile.user.id }, method: :post, class: "button tsp-btn-site pad-right" %>
          <% end %>
        </div>
        <br>
      <% end %>
    </div>

    <div class="col-md-6 right-align">
      <% if @profile.user.id == current_user.id %>
        <h3>My Trips:</h3>
      <% else %>
        <h3><%= @profile.user.user_name %>'s Trips:</h3>
      <% end %>
      <% if @profile.user.trips == [] %>
        <p class="white-text">No trips created yet</p><br>
      <% else %>
        <ul>
          <% @profile.user.trips.each do |trip| %>
            <li><a class="link-underline" href="/trips/<%= trip.id %>"><%= trip.destination.titleize %></a></li>
          <% end %>
        </ul><br>
      <% end %>

      <% if @profile.user.id == current_user.id %>
        <h3>Users I'm following:</h3>
      <% else %>
        <h3>Users <%= @profile.user.user_name %> is following:</h3>
      <% end %>
      <% if @profile.user.friends == [] %>
        <p class="white-text">Not following anyone</p><br>
      <% else %>
        <ul>
          <% @profile.user.friends.each do |friend| %>
            <li><a class="link-underline" href="/profiles/<%= friend.profile.id %>"><%= friend.user_name %></a>
            <% if @profile.user.id == current_user.id %>
              <%= link_to "(Unfollow)", "/friendships/#{friend.id}", method: :delete, class: "link-underline khaki-link", data: {confirm: 'Are you sure?'} %>
            <% end %>
            </li>
          <% end %>
        </ul><br>
      <% end %>

      <% if @profile.user.id == current_user.id %>
        <h3>Trips I'm interested in:</h3>
      <% else %>
        <h3>Trips <%= @profile.user.user_name %> is interested in:</h3>
      <% end %>
      <% if @profile.user.favorites == [] %>
        <p class="white-text">No bookmarked trips</p>
      <% else %>
        <ul>
          <% @profile.user.favorites.each do |favorite| %>
            <li><a class="link-underline" href="/trips/<%= favorite.trip.id %>"><%= favorite.trip.destination.titleize %></a>
            <% if @profile.user.id == current_user.id %>
              <%= link_to "(Remove)", "/favorites/#{favorite.id}", method: :delete, class: "link-underline khaki-link", data: {confirm: 'Are you sure?'} %>
            <% end %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div> 
  </div>
</div>