<div class="container">
  <div class="row">
    <div class="col-md-6">
      <% if @profile.user.id == current_user.id %>
        <h1>My Profile:</h1>
      <% else %>
        <h1><%= @profile.user.user_name %>'s Profile:</h1>
      <% end %>


      <p><img src=<%= @profile.image %> class="profile-image"></p>
      <p><b>Name:</b> <%= @profile.user.first_name %> <%= @profile.user.last_name %></p>
      <p><b>Age:</b> <%= @profile.age %></p>
      <p><b>Location:</b> <%= @profile.location %></p>
      <p><b>Bio:</b> <%= @profile.bio %></p>
      <p><b>Contact Email:</b> <%= @profile.user.email %></p>

      <% if @profile.user.id == current_user.id %>
        <a href="/profiles/<%= @profile.id %>/edit"><button>Edit Your Profile</button></a>
        <br><br>
        <%= button_to "Delete Your Profile", "/profiles/#{@profile.id}", method: :delete, class: "delete-button" %>
      <% end %>
    </div>

    <div class="col-md-6">
      <% if @profile.user.id == current_user.id %>
        <h1>My Trips:</h1>
      <% else %>
        <h1><%= @profile.user.user_name %>'s Trips:</h1>
      <% end %>
      <ol>
        <% @profile.user.trips.each do |trip| %>
          <li><a href="/trips/<%= trip.id %>"><%= trip.destination %></a></li>
        <% end %>
      </ol>

      <% if @profile.user.id == current_user.id %>
        <h1>My Friends:</h1>
      <% else %>
        <h1><%= @profile.user.user_name %>'s Friends:</h1>
      <% end %>
      <ol>
        <% @profile.user.friends.each do |friend| %>
          <li><a href="/profiles/<%= friend.id %>"><%= friend.user_name %></a></li>
        <% end %>
      </ol>
    </div>
  </div>
</div>