<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>TravelBuddy</title>
    <link href="https://fonts.googleapis.com/css?family=Patua+One%7COpen+Sans:300,300i,400,400i,600,600i,700,700i,800,800i%7CRoboto+Slab:100,300,400,700Lato:100,100i,300,300i,400,400i,700,700i,900,900i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/vendors/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/vendors/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="/assets/css/vendors/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/vendors/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/css/vendors/owl.theme.green.min.css">
    <link rel="stylesheet" href="/assets/css/vendors/animate.min.css">
    <link rel="stylesheet" href="/assets/css/vendors/slicknav.min.css">
    <link rel="stylesheet" href="/assets/css/common/main.css">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <div class="tsp-main">
        <header>
            <!--start header top bar-->
            <div class="tsp-header-bar">
                <div class="container">
                    <div class="row">
                        <div class="top-content">
                            <div class="tsp-account">
                                <% if current_user %>
                                    <b>LOG OUT</b> <i class="fa fa-angle-down"></i>
                                    <div class="tsp-list-lang">
                                        <ul>
                                            <li><a href="/logout">Log Out</a>
                                            </li>
                                        </ul>
                                    </div>
                                <% else %>
                                    <b>LOG IN/SIGN UP</b> <i class="fa fa-angle-down"></i>
                                    <div class="tsp-list-lang">
                                        <ul>
                                            <li><a href="login.html">Log In</a>
                                            </li>
                                            <li><a href="/signup">Sign Up</a>
                                            </li>
                                        </ul>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                    <!--Row-->
                </div>
            </div>
            <!--end header top bar-->
            <!--start header main-->
            <div class="tsp-header-main">
                <div class="container">
                    <div class="row">
                        <div class="tsp-logo col-md-1 col-sm-1 col-xs-1">
                            <a href="/pages">
                                <%= image_tag "400dpiLogo.jpg", style: "height: 98px; width: 170px; padding-bottom: 10px" %>
                            </a>
                        </div>
                        <div id="tsp_menu_cart_search" class="col-md-11 col-sm-11 col-xs-12">
                            <nav>
                                <ul id="menu">
                                    <li class="<%= "current-menu-item" if request.path == "/pages" %>">
                                        <a href="/pages">Home</a>
                                    </li>
                                    <li ><a href="/pages#about">About</a>
                                    </li>
                                    <% if current_user %>
                                        <li>
                                            <a href="javascript:void(0)">Search</a>
                                            <ul>
                                                <li class="tsp-has-menu-child">
                                                    <%= form_tag "/trips", method: :get do %>
                                                      <label for="destination">Search Trips By Destination</label>
                                                      <input type="text" id="destination" name="destination" class="search-input" autocomplete="off">
                                                      <button type="submit" class="button tsp-btn-site">Submit</button>
                                                    <% end %>
                                                </li>
                                                <li class="tsp-has-menu-child">
                                                    <%= form_tag "/trips", method: :get do %>
                                                      <label for="date">Search Trips By Date<br>yyyy-mm-dd</label>    
                                                      <input type="text" id="date" class="datepicker" data-date-format='yyyy-mm-dd' name="date" class="search-input">
                                                      <button type="submit" class="button tsp-btn-site">Submit</button>
                                                    <% end %>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="<%= "current-menu-item" if request.path == "/conversations" %>">
                                            <% if current_user.unread_mail %>
                                                <a href="/conversations">Inbox <i class="fa fa-envelope" aria-hidden=></i>
                                                (<%= current_user.unread_mail_count %>)</a>
                                            <% else %>
                                                <a href="/conversations">Inbox</a>
                                            <% end %>
                                        </li>
                                        <% if current_user.profile %>
                                            <li class="<%= "current-menu-item" if request.path == "/profiles/#{current_user.profile.id}" %>">
                                                <a href="/profiles/<%= current_user.profile.id %>">My Profile</a>
                                            </li>
                                        <% else %>
                                            <li class="<%= "current-menu-item" if request.path == "/profiles/new" %>">
                                                <a href="/profiles/new">Create Profile</a>
                                            </li>
                                        <% end %>
                                        <li class="<%= "current-menu-item" if request.path == "/trips/new" %>">
                                            <a href="/trips/new">Create Trip</a>
                                        </li>
                                    <% end %>
                                </ul>
                            </nav>

                        </div>
                        <!--div nav cart search-->
                    </div>
                    <!--row-->
                </div>
                <!--container-->
            </div>
            <!--End header main-->
        </header>
        <!--header-->
        <% flash.each do |name, message| %>
          <div class="alert alert-<%= name %> alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <%= message %>
          </div>
        <% end %>

        <div class="yield">
            <%= yield %>
        </div>
        
        <footer>
            <!--start footer main-->
            <div class="tsp-footer-main">
                <div class="container">
                    <div class="row">
                        <!--Start Item footer main-->
                        <div class="col-xs-12 col-sm-6 col-md-3 col-md-offset-1 tsp-footer-option">
                            <aside class="tsp-widget-footer">
                                <h2>Contact Me</h2>
                                <div class="tsp-content-item">
                                    <ul class="tsp-footer-address">
                                        <li>
                                            <a href="mailto:johnvm914@gmail.com">
                                                <i class="fa fa-envelope"><span>Email:</span></i> johnvm914@gmail.com
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </aside>
                        </div>
                        <!--End item main footer-->

                        <!--Start Item footer main-->
                        <div class="col-xs-12 col-sm-6 col-md-3 col-md-offset-1 tsp-footer-option hidden-xs hidden-sm tsp-no-padding-right">
                            <aside class="tsp-widget-footer">
                                <h2>More About Me</h2>
                                <div class="tsp-content-item">
                                    <ul class="tsp-footer-address">
                                        <li>
                                            <a href="https://github.com/johnvm914/">GitHub</a>
                                        </li>
                                        <li>
                                            <a href="https://linkedin.com/in/johnvmessina">LinkedIn</a>
                                        </li>
                                        <li>
                                            <a href="https://medium.com/@johnmessina_10236">Blog</a>
                                        </li>
                                    </ul>
                                </div>
                            </aside>
                        </div>
                        <!--End item main footer-->
                    </div>
                    <!--row-->
                </div>
                <!--container-->
            </div>
            <!--end footer main-->
        </footer>
    </div>
    <script src="/assets/js/autosize.js"></script>
    <script src="/assets/js/vendors/jquery.min.js"></script>
    <script src="/assets/js/vendors/modernizr.min.js"></script>
    <script src="/assets/js/vendors/bootstrap.min.js"></script>
    <script src="/assets/js/vendors/bootstrap-datepicker.min.js"></script>
    <script src="/assets/js/vendors/owl.carousel.min.js"></script>
    <script src="/assets/js/vendors/jquery.slicknav.min.js"></script>
    <script src="/assets/js/vendors/ckeditor/ckeditor.js"></script>
    <script src="/assets/js/common.js"></script>
    <script src="/assets/js/shortcodes/scroll-counter.js"></script>
    <script src="/assets/js/shortcodes/slider.js"></script>
</body>
</html>



