<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>TravelBuddy</title>
    <link href="https://fonts.googleapis.com/css?family=Patua+One%7COpen+Sans:300,300i,400,400i,600,600i,700,700i,800,800i%7CRoboto+Slab:100,300,400,700Lato:100,100i,300,300i,400,400i,700,700i,900,900i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/vendors/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/vendors/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="/assets/css/vendors/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/vendors/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/css/vendors/owl.theme.green.min.css">
    <link rel="stylesheet" href="/assets/css/vendors/animate.min.css">
    <link rel="stylesheet" href="/assets/css/vendors/slicknav.min.css">
    <link rel="stylesheet" href="/assets/css/common/main.css">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
    <!--[if lt IE 10]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
    <div class="tsp-main">
        <header>
            <!--start header top bar-->
            <div class="tsp-header-bar hidden-xs hidden-sm">
                <div class="container">
                    <div class="row">
                        <div class="top-content">
                            <div class="tsp-account">
                                <a href="/login">Log in <i class="fa fa-angle-down"></i></a>
                                <div class="tsp-list-lang">
                                    <ul>
                                        <li><a href="login.html">Log In</a>
                                        </li>
                                        <li><a href="/signup">Sign Up</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Row-->
                </div>
            </div>
            <!--end header top bar-->
            <!--start header main-->
            <div class="tsp-header-main">
                <div class="container">
                    <div class="row">
                        <div class="tsp-logo col-md-3 col-sm-3 col-xs-3">
                            <a href="index.html">
                                <%= image_tag "TravelBuddyLogo.png", class: "small" %>
                            </a>
                        </div>
                        <div id="tsp_menu_cart_search" class="col-md-9 col-sm-9 col-xs-12">
                            <nav>
                                <ul id="menu">
                                    <li class="current-menu-item">
                                        <a href="index.html">Home</a>
                                    </li>
                                    <li><a href="about-us.html">About</a>
                                    </li>
                                    <li class="tsp-has-mega-menu">
                                        <a href="hotel-grid.html">Hotel<i class="fa fa-caret-down"></i></a>
                                        <div class="mega-menu">
                                            <ul>
                                                <li>
                                                    <a href="#">Europe</a>
                                                    <ul>
                                                        <li><a href="#">Europe 1</a>
                                                        </li>
                                                        <li><a href="#">Europe 2</a>
                                                        </li>
                                                        <li><a href="#">Europe 3</a>
                                                        </li>
                                                        <li><a href="#">Europe 4</a>
                                                        </li>
                                                        <li><a href="#">Europe 5</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#">Booking</a>
                                                    <ul>
                                                        <li><a href="hotel-booking.html">Hotel booking</a>
                                                        </li>
                                                        <li><a href="payment-success.html">Payment success</a>
                                                        </li>
                                                        <li><a href="booking-history.html">Booking history</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="hotel-grid.html">Hotel</a>
                                                    <ul>
                                                        <li><a href="hotel-grid.html">Hotel grid</a>
                                                        </li>
                                                        <li><a href="hotel-list.html">Hotel list</a>
                                                        </li>
                                                        <li><a href="hotel-detail.html">Hotel detail</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="blog.html">Blog</a>
                                        <ul>
                                            <li class="tsp-has-menu-child">
                                                <a href="blog.html">Blog list</a>
                                                <ul>
                                                    <li><a href="blog.html">Blog grid</a>
                                                    </li>
                                                    <li><a href="blog-sidebar.html">Blog list</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li><a href="blog-detail.html">Blog detail</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Feature</a>
                                        <ul>
                                            <li><a href="gallery.html">Gallery</a>
                                            </li>
                                            <li class="tsp-has-menu-child">
                                                <a href="bbpress-forum.html">Forum</a>
                                                <ul>
                                                    <li><a href="bbpress-forum.html">Forum</a>
                                                    </li>
                                                    <li><a href="bbpress-forum-detail.html">Forum detail</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li><a href="404.html">404 page</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html">Contact</a>
                                    </li>
                                </ul>
                            </nav>

                        </div>
                        <!--div nav cart search-->
                    </div>
                    <!--row-->
                </div>
                <!--container-->
            </div>
            <!--End header main-->
        </header>
        <!--header-->
        <% flash.each do |name, message| %>
          <div class="alert alert-<%= name %> alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <%= message %>
          </div>
        <% end %>
        <%= yield %>
        
        <footer>
            <!--start footer main-->
            <div class="tsp-footer-main">
                <div class="container">
                    <div class="row">
                        <!--Start Item footer main-->
                        <div class="col-xs-12 col-sm-6 col-md-4 tsp-footer-option tsp-no-padding-left">
                            <aside class="tsp-widget-footer">
                                <h2>Suiren About</h2>
                                <div class="tsp-content-item">
                                    <p>You love to travel, and we love to help make travel one of life’s greatest pleasures. That’s why millions of consumers search for and book a wide range of hotels, flights, car rentals, cruises, vacation packages and destination activities with us.</p>
                                    <ul class="tsp-social-footer hidden-xs">
                                        <li>
                                            <a href="#" title="Facebook"><i class="fa fa-facebook-square"></i></a>
                                        </li>
                                        <li>
                                            <a href="#" title="Twitter"><i class="fa fa-twitter-square"></i></a>
                                        </li>
                                        <li>
                                            <a href="#" title="Pinterest"><i class="fa fa-pinterest-square"></i></a>
                                        </li>
                                        <li>
                                            <a href="#" title="Google plus"><i class="fa fa-google-plus-square"></i></a>
                                        </li>
                                        <li>
                                            <a href="#" title="Tumblr"><i class="fa fa-tumblr-square"></i></a>
                                        </li>
                                        <li>
                                            <a href="#" title="Youtube"><i class="fa fa-youtube-square"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </aside>
                        </div>
                        <!--End item main footer-->
                        <!--Start Item footer main-->
                        <div class="col-xs-12 col-sm-6 col-md-3 col-md-offset-1 tsp-footer-option">
                            <aside class="tsp-widget-footer">
                                <h2>Contact Us</h2>
                                <div class="tsp-content-item">
                                    <ul class="tsp-footer-address">
                                        <li>
                                            <i class="fa fa-map-marker"><span>Address:</span></i>
                                            <address>Themespond 15/6 Napoli Street Melbourne VIC 3000, Canada</address>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank">
                                                <i class="fa fa-phone"><span>Phone:</span></i> +123 145 999 999
                                            </a>
                                        </li>
                                        <li>
                                            <a href="mailto:themespond@gmail.com" target="_blank">
                                                <i class="fa fa-envelope"><span>Email:</span></i> themespond@gmail.com
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </aside>
                        </div>
                        <!--End item main footer-->

                        <!--Start Item footer main-->
                        <div class="col-xs-12 col-sm-6 col-md-3 col-md-offset-1 tsp-footer-option hidden-xs hidden-sm tsp-no-padding-right">
                            <aside class="tsp-widget-footer">
                                <h2>Flickr</h2>
                                <div class="tsp-content-item">
                                    <ul class="tsp-image-instagram">
                                        <li>
                                            <a href="#"><img src="http://placehold.it/85x85" alt="Instagram 1">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#"><img src="http://placehold.it/85x85" alt="Instagram 2">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#"><img src="http://placehold.it/85x85" alt="Instagram 3">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#"><img src="http://placehold.it/85x85" alt="Instagram 4">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#"><img src="http://placehold.it/85x85" alt="Instagram 5">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#"><img src="http://placehold.it/85x85" alt="Instagram 6">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </aside>
                        </div>
                        <!--End item main footer-->
                    </div>
                    <!--row-->
                </div>
                <!--container-->
            </div>
            <!--end footer main-->
            <!--start footer bar-->
            <div class="tsp-footer-bar">
                <div class="container">
                    <div class="row">
                        <!--start box text copyright-->
                        <div class="tsp-copyright col-md-6 col-sm-6 col-xs-12 tsp-no-padding-left">
                            <p>Copyright <span>&copy;</span> 2016 ThemePond. All Rights Reserved</p>
                        </div>
                        <!--End box text copyright-->
                        <!--Start box give news-->
                        <div class="tsp-menu-footer col-md-6 col-sm-6 col-xs-12 tsp-no-padding-right">
                            <ul>
                                <li><a href="#">Home</a>
                                </li>
                                <li><a href="#">About</a>
                                </li>
                                <li><a href="#">Hotels</a>
                                </li>
                                <li><a href="#">Tours</a>
                                </li>
                                <li><a href="#">Contacts</a>
                                </li>
                            </ul>
                        </div>
                        <!--End box give news-->

                    </div>
                    <!--row-->
                </div>
                <!--container-->
            </div>
            <!--End footer bar-->
        </footer>
    </div>
    <script src="/assets/js/vendors/jquery.min.js"></script>
    <script src="/assets/js/vendors/modernizr.min.js"></script>
    <script src="/assets/js/vendors/bootstrap.min.js"></script>
    <script src="/assets/js/vendors/bootstrap-datepicker.min.js"></script>
    <script src="/assets/js/vendors/owl.carousel.min.js"></script>
    <script src="/assets/js/vendors/jquery.slicknav.min.js"></script>
    <script src="/assets/js/vendors/ckeditor/ckeditor.js"></script>
    <script src="/assets/js/common.js"></script>
    <script src="/assets/js/shortcodes/scroll-counter.js"></script>
    <script src="/assets/js/shortcodes/slider.js"></script>
</body>
</html>



